.swal-overlay--show-modal .swal-modal {
    will-change: unset !important;
}

.clickable {
    cursor: pointer;
}

#robbery-creator-label {
    color: #ff0000;
}

.thick-hr {
    height: 3px !important;
    color: black;
    opacity: 1;
}